[package]
name = "gifos"
version = "0.1.0"
authors = ["gifnksm <makoto.nksm+github@gmail.com>"]
edition = "2018"

[dependencies]
bootloader = "0.5"
pc-keyboard = "0.5"
pic8259_simple = "0.1"
uart_16550 = "0.2"
spin = "0.5"
volatile = "0.2"
x86_64 = "0.5"
[dependencies.lazy_static]
version = "1.3"
features = ["spin_no_std"]

[dev-dependencies]
array-init = "0.0.4"

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[package.metadata.bootimage]
default-target = "x86_64-gifos.json"
